conformer==0.3.2
diffusers==0.39.0
hydra-core==1.3.2
HyperPyYAML==1.2.3
inflect==7.5.0
librosa==0.11.0
lightning==2.6.6
modelscope==1.20.0
numpy==1.26.4
omegaconf==2.3.1
onnxruntime==1.23.2
openai-whisper==20250625
pyworld==0.3.5
soundfile==0.14.0
transformers==4.51.3
x-transformers==2.11.24
wetext==0.0.4
setuptools==78.1.0
